

.box {
    width: 354px;
    height: 232px;
}
a{
    text-decoration: none;
}
.text-coral{
    color: coral;
}
.bg-sourav{
    background-color: #fdd2da;
}
.bg-sourav2{
    background-color: #feeff2;
}